* {
    margin: 0px;
    padding: 0px;
}

/*清除浮动代码*/

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}

.blue {
    color: #02bdd4
}

.white {
    color: white
}

.qing {
    color: #50d57f
}

.red {
    color: #ef4e4e;
}

/* 2020.1.16 s */
.yellow {
    color: yellow;
}
/* 2020.1.16 e */
.pt24 {
    padding-top: 24px;
}

.noData {
    color: rgba(204, 204, 204, 0.747);
    font-size: 12px;
    padding: 12px;
}

.boxSizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #0c0e26;
    color: white;
    background-image: url("../imgs/bg.png");
    background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    overflow: hidden;
}

/* .page{
    overflow: hidden;
} */

.header {
    /* border: 1px solid red; */
    background-image: url("../imgs/top.png");
    background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.sc-page .header {
    background-image: url("../imgs/top-sc.png");
}

.header .time {
    float: right;
    font-size: 7px;
    color: #02c1ff;
    margin-top: 1%;
    margin-right: 2%;
}

.body {
    padding: 0px 8px;
    /* border: 1px solid rgb(236, 17, 90); */
}

.body .block {
    width: 32.333%;
    height: 46%;
    float: left;
    padding: 12px;
    margin: 1% 0.5%;
}

/* 车间看板表报块 */

.body .top.block {
    width: 98%;
    height: 60%;
}

.body .cheJianBottom.block {
    height: 30%;
}

.body .block .eImg {
    width: 100%;
    height: 100%;
}

.body .block .title {
    font-size: 20px;
    padding-left: 20%;
}

.ruKuRenWuQingDan .table .theader {
    padding-top: 24px;
}

.table {
    width: 100%;
    text-align: center;
    border: 0px;
}

.table-content {
    /* overflow-y: scroll; */
    overflow: hidden;
    height: 76%;
}

.wbg {
    background: rgba(247, 247, 247, 0.047);
}

.table-content .row {
    box-sizing: border-box;
}

.table .theader {
    color: #566b97;
    font-size: 12px;
    /* border: 2px solid red; */
}

.table .theader .th {
    /* border: 2px solid red; */
}

.block .hr {
    border-bottom: 1px solid #20438e;
    margin: 6px;
}

.table tr {
    padding: 6px 0px;
    font-size: 13px;
}

.table th, .table td {
    width: 25%;
    padding: 6px 0px; 
    box-sizing: border-box;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/* 块背景 */

.block-six, .block-five, .block-four, .block-three, .block-one {
    background-image: url("../imgs/bg1.png");
    background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.block-six .titImg, .block-five .titImg, .block-four .titImg, .block-three .titImg, .block-one .titImg {
    /* border:1px solid red;  */
    width: 100%;
    margin-top: -6%;
}

.block-six .titImg img, .block-five .titImg img, .block-four .titImg img, .block-three .titImg img, .block-one .titImg img {
    width: 55%;
    margin-left: 13%;
}

.block-two {
    position: relative;
}

.block-two .bg {
    width: 100%;
    height: 125%;
    position: absolute;
    top: -12%;
    left: 0px;
    background-image: url("../imgs/bg2.png");
    background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-position: center;
    -ms-background-position: center;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -ms-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    z-index: -1;
}

.block-four {
    background-image: url("../imgs/bg1-h.png");
}
 